:root {
  --bs-primary: #4f29b7;
  --bs-secondary: #e3d8ff;
  --bs-success: #28a745;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #6c757d;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
}

body::before {
  --size: 120px;
  --line: color-mix(in lch, canvasText, transparent 90%);
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 20%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

.btn-begin {
  color: #4f29b7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: white;
  box-shadow: 5px 5px #4f29b7;
  border: 2px solid #4f29b7;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.btn-begin:hover {
  color: #4f29b7;
  box-shadow: none;
  background-color: white;
  border-color: #4f29b7;
  /* transform: translateY(-2px); */
}

.card-mounten {
  height: 5rem;
  background: url("./pictures/Tuwaiq_mounten.png") no-repeat;
  background-position: -24rem 3rem;
  background-size: contain;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.card-holebrton {
  background: url("https://tuwaiq.edu.sa/img/Holberton.png") no-repeat;
  background-size: cover;
}

.card-hover-blue {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card-hover-blue:hover {
  border-color: 8px 8px #6e91c3;
  box-shadow: 8px 8px #6e91c3;
}

.card-hover-pink {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card-hover-pink:hover {
  border-color: 8px 8px #d278c9;
  box-shadow: 8px 8px #d278c9;
}

.card-hover-green {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card-hover-green:hover {
  border-color: 8px 8px #62c462;
  box-shadow: 8px 8px #62c462;
}
