@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bs-primary: #4f29b7;
  --bs-secondary: #e3d8ff;
  --bs-success: #28a745;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #6c757d;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
}

body::before {
  --size: 120px;
  --line: color-mix(in lch, canvasText, transparent 90%);
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 20%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

.btn-begin {
  color: #4f29b7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: white;
  box-shadow: 5px 5px #4f29b7;
  border: 2px solid #4f29b7;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.btn-begin:hover {
  color: #4f29b7;
  box-shadow: none;
  background-color: white;
  border-color: #4f29b7;
  /* transform: translateY(-2px); */
}

.card-mounten {
  height: 5rem;
  background: url("./pictures/Tuwaiq_mounten.png") no-repeat;
  background-position: -24rem 3rem;
  background-size: contain;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.card-holebrton {
  background: url("https://tuwaiq.edu.sa/img/Holberton.png") no-repeat;
  background-size: cover;
}

.card-hover-blue {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card-hover-blue:hover {
  border-color: 8px 8px #6e91c3;
  box-shadow: 8px 8px #6e91c3;
}

.card-hover-pink {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card-hover-pink:hover {
  border-color: 8px 8px #d278c9;
  box-shadow: 8px 8px #d278c9;
}

.card-hover-green {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card-hover-green:hover {
  border-color: 8px 8px #62c462;
  box-shadow: 8px 8px #62c462;
}

.card-soon {
  background-color: #f5f5f7;
}

.big‑bullets li::marker {
  font-size: 2em;
}

a {
  text-decoration: none;
}


.bg-zoom-transition {
  transition: all 0.7s cubic-bezier(.4,0,.2,1);
}

.bg-zoom-transition:hover {
  transform: scale(1.03) rotate(3deg); /* Adjusted for subtle rotation */}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

.register-btn {
    background-color: #4f29b7;
    color: white;
    font-weight: bold;
    max-width: 40%;
    padding: 0.6rem 2rem;
    border-radius: 1rem;
}

.register-btn:hover {
    background-color: #581c87;
    color: white;
}

.footer-link {
    text-decoration: none;
    color:#4f29b7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-icon-link {
    background-color: #4f29b7;
    text-align: center;
    color: white;
    height: 2.25rem;
    width: 2.75rem;
    border-radius: 9999px;
    padding-top: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.social-icon-link:hover {
    opacity: 0.7;
}
